.bg{
    margin-right: 50px;
    background-color: rgba(221, 90, 2, 0.865);
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    
}
.bg:hover{
    background-color: rgba(255, 105, 5, 0.994);
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.8s;
    box-shadow: 0px 0px 5px 5px black;
    
}
.img{
  
    width: 200px;
    height: 50px;
   
}
.gap{
    width: 200px;
}
p{
    width: 150px;
}
.f{
    margin-left: 10px;
}
.lop{
    font-size: 30px;
    margin-right: 5px;
}
.search{

    width: 500px;
    margin-right: 400px;
}
.lut{
   
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
    border-radius: 10px;
    border: 2px solid #ea710f;
}
.m{
    
    margin-left: 440px;
    
}